.roulette-container-outer
{
    max-width: 1200px;
    .sparta-logo
    {
        background:url('../../img/spartalogo.png');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center center;
        width:458px;
        height:76px;
        margin:auto;
        // position: relative;
        // top: -50%;
        // -webkit-transform: translateY(50%);
        // transform: translateY(85%);
        // margin-left: 15px;
    }

    .rounds
    {
        text-align: center;
        a.btn
        {
            font-family: $font-primary;
            color:#fff !important;
            &.active
            {
                background-color:$color-primary !important;
            }
        }
    }

    div.roulette {
        position:relative;
        z-index: -1;
    }
    // div.roulette-inner {
    //     left : 33px;
    // }
    
    div.roulette-inner {
        left: 281px;
        // margin-top: 55px;
        z-index: 3;
    }

    div.roulette_container {
        // background-color:rgb(253, 252, 253);
        background: url('../../img/laptop-roulette.png');
        background-size:contain;
        background-repeat: no-repeat;
        background-position:center center;
        width:100%;
        height:100%;
        z-index: 4;
        padding-top: 48px;
        img
        {
            width:200px;
            border-radius: 300px;
            box-shadow: 0px 6px 13px #999;
        }

        .background-white
        {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
            background: #f5f6f6; /* Old browsers */
            background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
            width: 424px;
            height: 245px;
            z-index: -2;
            position: absolute;
            top: 48px;
            left: 186px;
        }
    }
    
    .btn_container {
        margin:20px;
        text-align:center;
    }

    .btn_container .start {
        background-image: url('../../img/lever.png');
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
        height: 280px;
        width: 83px;
        position: absolute;
        top: 0px;
        right: 100px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .rules
    {
        h4
        {
            font-family: $font-primary;
            color:#fff;
        }

        .list-group
        {
            .list-group-item
            {
                color:#fff;
                background-color:#ee4044;
            }
        }
    }
    
    .agent-chance-sales-count
    {
        .card
        {
            height:100%;
            background-color:rgba(16,20,22,0.5);
            border-radius:0px;
            .card-header
            {
                background-color:rgba(22,27,30,0.75);
                border-bottom:1px solid rgba(238,64,68,0.60);
                font-size:1.5rem;
                font-family: $font-primary;
                color:#fff;
            }
            .card-body
            {
                font-size:1rem;
                font-family: $font-primary;
                .agent-percentage-item
                {
                    text-align: center;
                    color: #fff;
                    .agent-percentage-item-inner
                    {
                        border: 1px solid #222;
                        border-radius: 6px;
                        .profile-pic
                        {
                            padding-top:10px;
                        }
                        .other-agents-profile-pic{
                            width:50px;
                            height:50px;
                            background-size:cover;
                            background-repeat: no-repeat;
                            border-radius:100px;
                            margin: auto;
                        }
                        .percentage-container
                        {
                            font-family: $font-base;
                            .agent-name
                            {
                                font-family: $font-base;
                                font-weight:500;
                                color:#ee4044;
                            }
                        }
                        .percentage-line
                        {
                            height: 3px;
                            background: #ee4044;
                            width: 50%;
                        }
                    }
                    
                }
                
            }
            .card-footer
            {
                border-top:1px solid #161b1e;
                color:#fff;
                font-family: $font-base;
            }
        }
    }
    
}