.leaderboard-container
{
    max-width: 1200px;
    color:#fff;
    .leaderboard-header
    {
        text-align: center;
        img.crown
        {
            width:50px;
            position: absolute;
            left:0px;

        }

        img.crown2
        {
            width:50px;
            position: absolute;
            right:0px;

        }

        h1
        {
            display:inline-block;
            padding:0px;
            margin:0px;
            text-align:center;
        }
    }
    
    .leaderboard-buttons
    {
        text-align:center;
        a.btn
        {
            font-family: $font-primary;
            color:#fff !important;
            &.active
            {
                background-color:$color-primary !important;
            }
        }
    }
    
    table
    {
        .table-header
        {
            background-color:rgba(22,27,30,0.75);
            border-bottom:1px solid rgba(238,64,68,0.60);
            font-size:1.5rem;
            font-family: $font-primary;
            color:#fff;
            th
            {
                border:none;
            }
        }
        tbody
        {
            
            font-family: $font-base;
            tr
            {
                background-color:rgba(22,27,30,0.75);
                &:nth-of-type(odd)
                {
                    background-color:rgba(22,27,30,0.5);
                }

                th
                {
                    border:none;
                    position:relative;

                    span
                    {
                        position: absolute;
                        top:50%;
                        transform: translateY(-50%);
                    }

                    .profile-pic
                    {
                        width: 80px;
                        height: 80px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-radius: 200px;
                    }
                }

                td
                {
                    border:none;
                }
            }
        }
    }
    
    
    .card
    {
        height:100%;
        background-color:rgba(16,20,22,0.5);
        border-radius:0px;
        .card-header
        {
            
        }
    }
}