.ordermate-logo
{
    background:url('../../img/OM_OO_logo_white.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
    margin-bottom:20px;
    width:150px;
    height:90px;
}

.login-form-container
{
    background-color:rgba(16,20,22,0.5) !important;
    color:#fff;
    font-family: $font-base;
    font-weight:500;
    height:360px;
    .login-form
    {
        .sparta-logo
        {
            background:url('../../img/spartalogo.png');
            background-repeat:no-repeat;
            background-size:contain;
            background-position:center center;
            margin-bottom:20px;
            width:228px;
            height:90px;
        }
        .login-form-group
        {
            .login-form-items
            {
                margin:auto;
                color:#fff;
                width:250px;
                height:47px;
                border:none;
                background:#101416;
            }
        }
        .btn-login
        {
            border-radius:100px;
            background-color:#ee4044;
            font-family: $font-primary;
            font-weight:500;
            border:none;
            text-align:center;
            width:175px;
            height:36px;
            &:hover
            {
                background-color:transparent;
                border:2px solid #ee4044;
            }
        }
       
    }
}