.users-container
{
    color:#fff;
    font-family: $font-base;
    .users-container-inner
    {
        background-color:rgba(16,20,22,0.5);
        border-radius: 6px;
        .profile-pic
        {
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 300px;
            width:150px;
            height:150px;
        }
    }
    .btn
    {
        color:#fff !important;
    }

    .card
    {
        height:100%;
        background-color:rgba(16,20,22,0.5);
        border-radius:0px;
        .card-header
        {
            background-color:rgba(22,27,30,0.75);
            border-bottom:1px solid rgba(238,64,68,0.60);
            font-size:1.5rem;
            font-family: $font-primary;
            color:#fff;
        }
        .card-body
        {
            #imgInp
            {
                margin-left:auto;
                margin-right:auto;
                width:100%;
            }
        }
        .card-footer
        {
            border-top:1px solid #161b1e;
        }
    }
    
    #delete-modal
    {
        color:#333;
    }
}