.agent-list-container
{
    max-width: 1200px;
    color:#ffffff;
    .agent-list-header
    {
        text-align: center;
        font-family: $font-primary;
        text-transform: uppercase;
    }

    .card
    {
        height:100%;
        background-color:rgba(16,20,22,0.5);
        border-radius:0px;
        .card-header
        {
            background-color:rgba(22,27,30,0.75);
            border-bottom:1px solid rgba(238,64,68,0.60);
            font-size:1.5rem;
            font-family: $font-primary;
            .settings
            {
                #ddMbSalesCount
                {
                    font-size:1.5rem;
                    background:transparent;
                    color:#fff;
                }
                .dd-settings
                {
                    .active{
                        background-color:$color-primary;
                        color:#fff !important;
                        
                    }

                    .dd-settings-item
                    {
                        &:active
                        {
                            background-color:$color-primary;
                            color:#fff !important;
                        }
                    }
                    
                    
                }
            }
        }
        .card-body
        {
            .profile-pic-container
            {
                .profile-pic
                {
                    width: 130px;
                    height: 130px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top center;
                    border-radius:300px;
                }
            }
            .agent-basic-info
            {
                font-family: $font-base;
                p
                {
                    margin: 0px;
                    font-size: 1rem;
                }
                .sales-agent-name
                {
                    font-family:$font-primary;
                    margin:0px;
                    font-size:2rem;
                }
            }
            
        }
        .card-footer
        {
            text-align: center;
            border-top:1px solid rgba(238,64,68,0.60);
        }
    }
}