body,html
{
    height:100vh;

}

body
{
    background:url(../img/OMO_bg.png);
    background-size:cover;
    background-attachment: fixed;
    background-position:center center;
    background-repeat: no-repeat;
}

a
{
    color:$color-primary !important;
}

.navigation-upper-bar
{
    background: $color-secondary;
    height:45px;
    .burger-menu
    {
        color:#fff;
        font-size: 37px;
        line-height: 45px;
    }
    .sparta-logo
    {
        background:url('../../img/spartalogo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 132px;
        height: 22px;
        position: relative;
        top: -50%;
        left: 48%;
        -webkit-transform: translateY(50%);
        transform: translate(-50%,85%);
    }
    .user-options-container
    {
        float: right;
        #profileMenu
        {
            background:none;
            border:none;
            padding:0px;
            margin-top:8px;
            .user-profile-pic
            {
                width: 32px;
                height: 32px;
                background:url('../../img/sparta_login_option.png');
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center center;
            }
            &:after
            {
                content:'';
                display:none;
            }
        }
        
    }
}

.side-nav
{
    background-color:rgba(22,27,30,1);
    top:0px;
    z-index:100;
    max-width: 300px;
    height: 100vh;
    display:none;
    
    .sparta-logo
    {
        background:url('../../img/spartalogo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 100%;
        height: 38px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    ul
    {
        list-style:none;
        color:#fff;
        font-family: $font-primary;
        font-size:2rem;
        padding:0px;
        margin:0px;
        li.nav-item
        {
            a.nav-link
            {
                color:#fff !important;
                &:hover
                {
                    color:$color-primary !important;
                }

                &.active
                {
                    color:$color-primary !important;
                }
            }
        }
    }
}
