
// Fonts
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://use.typekit.net/bqs2arl.css");
@import url("https://fonts.googleapis.com/css?family=Questrial");

// Variables
@import "variables";
@import "animate/animate";
@import "login/login";
@import "dashboard/dashboard";
@import "roulette/roulette";
@import "leaderboard/leaderboard";
@import "admin/admin";
@import "admin/dashboard";
@import "styles";

//datepicker
@import "vendor/dataTables.bootstrap4.scss";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

