.basic-info-container
{
    padding-top:50px;
    max-width: 1200px;
    color:#fff;
    // PROFILE PIC AND AGENT TITLE
    .profile-pic-container
    {
        .profile-pic
        {
            width:166px;
            height:166px;
            background-size:cover;
            background-repeat: no-repeat;
            border-radius:100px;
        }
        .agent-desc
        {
            text-align: center;
            font-size:1.33rem;
            line-height: 1.7rem;
            padding-top:20px;
            .agent-name
            {
                font-family: $font-base;
            }
            .agent-achievement
            {
                font-family: $font-primary;
                color: $color-primary;
                font-weight: 500;
            }
        }

    }

    .performance-dashboard-section
    {
        .dashboard-header
        {
            font-family: $font-primary;
            font-size:2.5rem;
        }
        .announcement
        {
            h3
            {
                font-family: $font-primary;
                font-size:2rem;
            }
            h4
            {
                font-size:1.33rem;
                font-family: $font-primary;
                color:$color-primary;
            }
            .announcement-excerpt
            {
                font-size:1rem;
                font-family: $font-base;
            }
        }
        .count-number
        {
            position:relative;
            width: 89px;
            height: 89px;
            background: $color-primary;
            font-size:1.5rem;
            font-family: $font-base;
            border-radius:178px;
            span
            {
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
            }
        }
        .count-label
        {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.5rem;
            padding-left: 10px;
            font-family: $font-base;

        }
    }
}


.report-dashboard{
    padding-top:50px;
    max-width: 1200px;
    color:#fff;
    // .row
    // {
    //     .col-12
    //     {
    //         max-height:500px;
    //     }
    // }
    .card
    {
        height:100%;
        background-color:rgba(16,20,22,0.5);
        border-radius:0px;
        .card-header
        {
            background-color:rgba(22,27,30,0.75);
            border-bottom:1px solid rgba(238,64,68,0.60);
            font-size:1.5rem;
            font-family: $font-primary;
            .settings
            {
                #ddMbSalesCount,#ddFilterByCountry
                {
                    font-size:1.5rem;
                    background:transparent;
                    color:#fff;
                }
                .dd-settings
                {
                    .active{
                        background-color:$color-primary;
                        color:#fff !important;
                        
                    }

                    .dd-settings-item
                    {
                        &:active
                        {
                            background-color:$color-primary;
                            color:#fff !important;
                        }
                    }
                    
                    
                }
            }
        }
        .card-footer
        {
            border-top:1px solid #161b1e;
        }
        .chart-legend
        {
            ul
            {
                list-style: none;
                text-align:center;
                li
                {
                    display: inline-block;
                }
            }
        }
    }

    #merchantInfoReport_length
    {
        display:none !important;
    }
}

.other-sales-personel
{
    max-width: 1200px;
    .card
    {
        height:100%;
        background-color:rgba(16,20,22,0.5);
        border-radius:0px;
        .card-header
        {
            background-color:rgba(22,27,30,0.75);
            border-bottom:1px solid rgba(238,64,68,0.60);
            font-size:1.5rem;
            font-family: $font-primary;
            color:#fff;
        }
        .card-body
        {
            .other-agents-list-group
            {
                list-style:none;
                margin: 0px;
                padding: 0px;
                text-align: center;
                .other-agents-list-item
                {
                    display:inline-block;
                    .other-agents-profile-pic{
                        width:100px;
                        height:100px;
                        background-size:cover;
                        background-repeat: no-repeat;
                        border-radius:100px;
                    }
                    .agent-name
                    {
                        font-family:$font-primary;
                        font-weight:500;
                        color:$color-primary;
                    }
                    .agent-count
                    {
                        font-family:$font-base;
                        color:$color-font-white;

                    }
                }
            }
        }
        .card-footer
        {
            border-top:1px solid #161b1e;
        }
    }
}

// MODALS
#merchinInfoViewMore
{  
    .modal-dialog
    {
        max-width: 1200px !important;
    }
}

#advanceSettings
{
    .modal-footer
    {
        .btn-primary
        {
            background-color:$color-primary;
            border-color: $color-primary;
            color:#fff;
        }
    }
}